@import url('../css/font.css');
body, html{
    margin: 0;
    box-sizing: border-box;
    overflow-x:hidden;
    padding: 0;
}
:root{
    /*theme colors*/
    --text-grey: #3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;
    /*gradient color*/
    --sky: linear-gradient(120deg, #a1c4fd 0%,#2ce9fb 100%);
    /*themes font*/
    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Josefin:'Josefin',cursive;
    --Lexend:'Lexend',cursive;
    --Livvic:'Livvic',cursive;
    --market: yellow;
    --dark:  #343a40;
}
/* global classes*/
a{
    text-decoration: none;
    color: var(--text-grey);
    font-family: var(--Abel);
}
.flex-row{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}
ul{
    list-style-type: none;
}
h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}
h2{
    font-family: var(--Lexend);
}
h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}
h4{
    font-family: var(--Josefin);
}
.container-fluid button.btn{
    padding: 0rem 3rem;
}
button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-family: var(--Livvic);
    cursor: pointer;
}
span{
    font-family: var(--Abel);
}
.container{
    margin: 0 5vw;
}
.text-gray{
    color: var(--text-grey);
}
p{
    font-family: var(--Lexend);
    color: var(--text-light);
}
/*navbar*/
header nav a, nav i{
   color: white !important;

}
nav{
    background-color: var(--text-grey) !important;
    padding: 0 1.5rem;
    overflow: hidden;

}
header nav button.btn a{
    color: #F8CF61 !important;
}
header nav img{
    width: 100px;
}
header nav button.btn.create{
    border: 1px solid #F8CF61;
    border-radius: .3em;
    font-family: var(--Livvic);
    cursor: pointer;
    
}

/* header section*/
section#header {
    background-color: #b8babd;
}
section#header .welcome{
    margin: auto;
}
section#header .btn-yellow{
    margin: 0 5px;
    color: yellow;
    border: 1px solid yellow;
}
section#featured{
    margin: 3rem 0;
}
section .featured-main{
    position: relative;
    background-image: linear-gradient(rgba(29, 27, 27, 0.25),rgb(46,46,32, 0.88)), url(../img/banner-news-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: #ffffff;
    border-radius: .5em;
}
section .featured-main-info{
    position: absolute;
    bottom: 5%;
    margin: 0 10px;
}
section .featured-main-info a{
    color: white;
}
.featured-icon img{
    padding: 0rem ;
    position: relative;
    width: 70px;
    margin: 1rem 0 0 0;
}
.featured-main-info .date p{
    color: wheat ;
}
section .featured-card{
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
    height: 400px;
    border-radius: .5em;
}
section .featured-card-info{
    padding: 10px 20px;
}
img{
    width: 100%;
}
.row{
    margin: 1em 0 ;
}
/*main content*/


.line-xs {
    margin: 4px 0px 20px;
    border-bottom: 3px solid rgb(238, 238, 238);
}
.line, .double-line {
    clear: both;
    position: relative;
    width: 100%;
    border-top: 1px solid rgb(238, 238, 238);
}
.line-xs.line-market {
    border-bottom-color: var(--market) !important;
}
.contact-icon{
    font-size: 40px;
}
.line-xs.line-dark {
    border-bottom-color: var(--dark) !important;
}
.btn-news.active{
    background-color: yellow;
}
.btn-news{
    background-color: #EFEFEF;
    border-radius: .2em !important;
    padding: 5px 20px !important;
}

/*footer*/
footer.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}
footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
footer.footer .container >div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}
footer.footer .container h2{
    color: var(--white);
}
footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}
footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: var(--white);
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 72%;

}
footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}
footer.footer .instagram div> img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;

}
footer.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}
footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin) ;
}
footer.footer .rights h4 a{
    color: var(--white);
}
footer.footer .move-up{
    position: absolute;
    right: 6%; 
    top: 50%;
}
footer.footer .move-up span{
color: var(--midnight);
}
footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}



/*login page*/
section .btn-sing{
    background-color: #1C1F23;
    border-radius: 5px;
    color: #ffffff;
}
section#login{
    margin: 2em 0;
}
section#login .login input{
    margin: .5em;
    padding: 1em;
    width: 400px;
    position: relative;
}
section#login .login label{
    margin: .2em;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 25px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #efff10, #ffad06);
    border-radius: 30px;
    transition: .5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons i{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0px #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width:  85%;
    padding: 10px 30px;
    cursor: pointer;
    display:  block;
    margin: 20px auto;
    background: linear-gradient(to right, #efff10, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px !important;
}
.chech-btn{
    margin: 30px 10px 30px 0;
}
span{
    padding: 0 5px;
    color: #777;
    font-size: 12px;
    position: relative;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}